@import "tailwindcss";

@layer utilities {
  .bg-primaryBlue {
    background-color: var(--color-primary);
  }

  .bg-orange {
    background-color: var(--color-orange);
  }

  .bg-lightBlue {
    background-color: var(--color-lightBlue);
  }

  .bg-turquoise {
    background-color: var(--color-turquoise);
  }

  .hover\:bg-turquoise:hover {
    background-color: var(--color-turquoise);
  }

  .text-primaryBlue {
    color: var(--color-primary);
  }

  .text-turquoise {
    color: var(--color-turquoise);
  }

  .hover\:text-turquoise:hover {
    color: var(--color-turquoise);
  }
}

@layer base {
  a {
    @apply font-semibold;
  }
}

:root {
  --color-primary: #0074a7;
  --color-orange: #ff8052;
  --color-turquoise: #ccfffb;
  --color-lightBlue: #f7fffe;
}
