@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-ocean-700: #0074a7;
  --color-sunset-800: #ff7948;
  --color-sunset-900: #d65425;
  --color-turquoise-500: #ccfffb;
  --color-air-100: #f7fffe;

  --breakpoint-mdp: 850px;
  --breakpoint-lgp: 1150px;
}

@layer base {
  body {
    @apply font-inter;
  }

  h1,
  h2,
  h3 {
    @apply font-rubik font-semibold text-ocean-700;
  }

  button {
    @apply cursor-pointer;
  }

  label {
    @apply text-sm font-semibold font-rubik;
  }

  select {
    @apply cursor-pointer;
  }

  input,
  textarea,
  select {
    @apply w-full transition-colors duration-300 px-3 py-1 border-1 rounded-lg hover:bg-air-100 outline-sunset-800 border-neutral-300 resize-none;
  }

  input[type="checkbox"] {
    @apply size-5 cursor-pointer bg-ocean-700;
  }

  details {
    @apply p-3 flex flex-col gap-3 transition-all duration-300;
  }

  summary {
    @apply cursor-pointer transition-all duration-300 list-none;
  }

  summary::-webkit-details-marker {
    @apply hidden;
  }

  table[role="grid"] thead {
    @apply col-span-7;
  }
}

/* Loader */

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@layer components {
  .loading {
    @apply animate-[shimmer_1.5s_infinite] bg-gradient-to-r from-neutral-300 via-white to-neutral-300 bg-[length:200%_100%];
  }
}

@layer utilities {
  /* Spacing */

  /* .lgm {
    @apply m-1 md:m-5 lg:m-10;
  }

  .mdm {
    @apply;
  }

  .lgp {
    @apply;
  }

  .mdp {
    @apply;
  } */

  /* Calendar */

  .rdp-day_button:disabled {
    @apply cursor-default;
  }
}
