@import "tailwindcss";

@theme {
  --color-ocean-700: #0074a7;
  --color-sunset-800: #ff8052;
  --color-turquoise-500: #ccfffb;
  --color-air-100: #f7fffe;
}

@layer base {
  a {
    @apply font-semibold;
  }
}
